{% extends "base.html" %}

{% block main %}
<h1 class="page-header">New User Profile</h1>
<p> Please fill in the form below to create a new user profile.</p>
</br>

{% include "flash_messages.html" %}

<form method="POST" action="{{ url_for('add_profile') }}" enctype="multipart/form-data">
    {{ form.csrf_token }}
    
    <div class="form-group">
        <label for="User Name">{{ form.username.label }}<b class="notify"> (Required)</b></label>
        {{ form.username(size=45) }}
        <!--<p class="help-block">Enter a username.</p>-->
    </div>
    
    <div class="form-group">
        <label for="First Name">{{ form.firstname.label }}<b class="notify"> (Required)</b></label>
        {{ form.firstname(size=45) }}
        <!--<p class="help-block">Enter your first name.</p>-->
    </div>
    
    <div class="form-group">
        <label for="Last Name">{{ form.lastname.label }}<b class="notify"> (Required)</b></label>
        {{ form.lastname(size=45) }}
        <!--<p class="help-block">Enter your last name.</p>-->
    </div>
    
    <div class="form-group">
        <label for="Age">{{ form.age.label }}<b class="notify"> (Required)</b></label>
        {{ form.age }}
        <!--<p class="help-block">Enter your age.</p>-->
    </div>
    
    <div class="form-group">
        <label for="Gender">{{ form.gender.label }}<b class="notify"> (Required)</b></label>
        {{ form.gender }}
        <!--<p class="help-block">Select your gender.</p>-->
    </div>
    
    <div class="form-group">
        <label for="Biography">{{ form.biography.label }}<b class="notify"> (Required)</b></label><br/>
        {{ form.biography(cols="60", rows="5") }}
        <!--<p class="help-block">Enter a short paragraph about yourself.</p>-->
    </div>
    
    <div class="form-group">
        <label for="Profile Picture">{{ form.image.label }}<b class="notify"> (Required)</b></label>
        {{ form.image }}
        <!--<p class="help-block">Upload a picture of yourself.</p>-->
    </div>
    
    <button class="btn btn-primary active" type="submit">Save</button>
</form>
{% endblock %}